/* Universal */
* {
    margin: 0;
}

p, h1 {
    font-family: 'Futura PT', sans-serif;
}
/* Header Section */
.navbar-group{
    display: flex;
    justify-content: space-between;
    margin: 45px;
    
}
.header-left h1 {
    margin-left: 20px;
}
.header-right{
    display: flex;
    gap: 70px;
    margin-right: 30px;
}
.header-right p {
    font-size: 1.25rem;
}
.header-right img{
    width: 30px;
    height: auto;
    margin-bottom: 15px;

}
.header-right {
    display: flex;
    gap: 70px;
    margin-right: 30px;
}

.header-right p {
    font-size: 1.25rem;    
}

.header-right a {
    text-decoration: none; /* Remove the underline */
    color: inherit; /* Use the same color as the other elements */
    font-size: 1.25rem; /* Match the font size of the other elements */
}


.header-right img {
    width: 30px;
    height: auto;
    margin-bottom: 15px; /*Adding margin-bottom to push up the cart icon*/
}
.header-right {
    display: flex;
    gap: 70px;
    margin-right: 30px;
}

.header-right p {
    font-size: 1.25rem;    
}

.header-right a {
    text-decoration: none; /* Remove the underline */
    color: inherit; /* Use the same color as the other elements */
    font-size: 1.25rem; /* Match the font size of the other elements */
}


.header-right img {
    width: 30px;
    height: auto;
    margin-bottom: 15px; /*Adding margin-bottom to push up the cart icon*/
}
/* product-images Section */
.products-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right:50px ;
    padding-top: 50px;
    padding-left: 150px;
    gap: 20px;
    
    

}
.products-image > div{ /* Ensure the product items stack vertically */
    width: 49%;
    text-align: left;
}
.products-image img{
    width: 518px;
    height: 602px;
}
.products-image p {
    margin: 0; /* Remove extra margin */
   
}

.blank-space {
    width: 100%; /* Ensures it takes up the full row */
    height: 250px; /* Adjust this value to control the space size */
}
.product-price{
   font-weight: bold;
   font-size: 1.1em;

}
.products-image .product-name{
    font-size: 1.3em;
    margin-top: 20px;
}






/* Footer Section */
footer {
    width: 100%;
    height: 90px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    border: 2px solid black;
    background-color: black;
}

footer img {
    width: 36px;
    height: 36px;
}

.logo-images {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding-left: 50px;
}
.information{
    display: flex;
    flex-direction: column;
}

footer p {
    color: white;
    font-size: 1.75rem;
    margin-right: 70px;
}